* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: DM Sans;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
